.about {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #041005;
  .about__header {
    font-size: 2.5em;
    margin-top: 8%;
    position: relative;
    margin-bottom: 40px;
    &:after {
      content: '';
      display: block;
      height: 2px;
      background-color: #041005;
      width: 140%;
      position: absolute;
      left: -20%;
      bottom: -4px;
    }
  }
  .about__desc {
    width: 60%;
    text-align: center;
  }
}