.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #041005;
}

* {
    margin: 0;
    padding: 0;
}

.displayIt {
    display: block !important;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
}

#underMenu {
    width: 100%;
    background-color: transparent;
    height: 10vh;
    display: none;
}